/*.exp-wrapper {*/
/*    position: relative;*/
/*    border: 1px solid #aaa;*/
/*    display: flex;*/
/*    width: 300px;*/
/*    justify-content: space-around;*/
/*    height: 36px;*/
/*    line-height: 36px;*/
/*    font-size: 24px;*/
/*}*/

.exp-wrapper:after {
    content: '/';
    position: absolute;
    left: 50%;
    margin-left: -4px;
    color: #aaa;
}
